@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

body{
    font-family: 'Acme', sans-serif;
    background-image: url("../imgs/background.jpg");
    background-size: cover;
    background-attachment: fixed;

    hr{
        border: 0;
        border-top: 8px dotted rgba(255, 255, 255, 0.5);
        width: 50%;
        margin: 0;
    }

    h1{
        margin: 0;
        color: #fff;
        font-size: 64px;
        text-shadow:
                -3px -3px 0 #000,  
                 3px -3px 0 #000,
                -3px  3px 0 #000,
                 3px  3px 0 #000;
    }

    input{
        border: 1px solid rgba(70, 70, 70, 0.5);
        border-radius: 5px;
        width: max-content;
        padding: 5px;
        margin: 5px;
    }

    div.container{
        background-color: rgba(255, 255, 255, 0.3);
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        div.card-grid{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            
        }
    }
}